body {
    display: flex;
    justify-content: center;
}
.quiz {
    margin-top: 3rem;
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    background-color: #f1f1f1;
}
.box {
    text-align: center;
    padding: 0.45rem;
    border-radius: 10px;
    background-color: #548eec;
    color: white;
    margin: 2.5rem 2.5rem 0 2.5rem;
}
.answers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ans {
    width: 4rem;
    height: 4rem;
    margin: 3rem;
    font-size: 1.35rem;
    background-color: #ffa061;
    border-radius: 10px;
    border: none;
    color: white;
}